{{#if details}}
  <span class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">Case Count: {{details.length}}</span>
  </span>
{{/if}}
