pre{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  padding: 5px;
  margin-top: 5px;
}

.email-container{
  margin-top: 5px;
}

.pulse-tag {
    background-color: #dedede;
    border-radius: 4px;
    margin-bottom: 2px;
    padding: 3px;
    display: inline-block;
    padding-bottom: 3px;
}

.create-case-btn {
  background-color: #3c8dbc;
  border-color: #367fa9;
  border-radius: 3px;
  color:white;
  margin-top: 5px;
  font-weight: bold;
}

.case-description {
  width: 80%;
}

.severity-options button {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  box-shadow: 5px 10px;
  font-size: 8px
}

label {
  font-weight: bold;
}

// .lowSeverity {
//   background-color: green;
// }

// .mediumSeverity {
//   background-color: lightblue;
// }


// .table .case-inputs td label {
//   font-weight: bold;
// }
