pre {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  padding: 5px;
  margin-top: 5px;
}

button:disabled {
  background-color: grey !important;
  border: 1px solid grey !important;
}

input[type=text] {
  width: 100%;
  padding: 3px;
  line-height: 1.3em;
}

.scrollable-block {
  overflow-y: auto;
  max-height: 300px;
  width: 100%;
  margin-top: 2%;

  &.padded {
    padding: 5px;
  }
}

.email-container {
  margin-top: 5px;
}

.alert {
  position: absolute;
  z-index: 1;
  margin-bottom: 0;
  overflow-wrap: break-word;
}

.alert-information {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pulse-tag {
  background-color: #dedede;
  border-radius: 3px;
  margin-bottom: 2px;
  padding: 2px 4px;
  display: inline-block;
}

.case-description {
  width: 100%;
  border: 1px solid #dedede;
}

.title {
  width: 80%;
  border: 1px solid #dedede;
}

.case-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .case-btn {
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    width: 30px;
    text-align: center;
    position: relative;
    margin-right: 2px;
    height: 18px;

    &:hover{
      background-color: darken(#3c8dbc, 20%);
    }

    &.close-btn {
      background-color: #FF4559;
      border-color: darken(#FF4559, 10%);
    }

    &.close-btn:hover{
      background-color: darken(#FF4559, 20%);
    }
  }
}

.external-link{
  font-size: 9px;
}

.create-case-btn {
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: white;
  margin: 3%;
  border-radius: 3px;
  float: right;
}

.modal {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 2rem;
  border-radius: 4px;
  border: 1px solid white;
  padding: 5px;
  max-width: 300px;
}

.case-container {
  position: relative;
}

.verification-err-msg {
  background-color: white;
  border-color: red;
  border-width: 1px;
  color: red;
  font-size: 10px;
}

.case-modal {
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;

  .p-title {
    margin-bottom: 4%;
    margin-top: 0%;
  }

  .case-options {
    display: flex;
    justify-content: space-between;

    & > * {
      margin-right: 5px;
    }

    button.case-modal-btn {
      background-color: #3c8dbc;
      border-color: #367fa9;
      border-radius: 3px;
      color: white;
      margin-top: 5px;
      margin-bottom: 5%;
      font-weight: bold;
      font-size: 10px;
      height: 30px;

      &:hover{
        background-color: darken(#3c8dbc, 10%);
      }
    }
  }
}

.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: 5px;

  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;

    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}

.modal-options {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  display: inline-block;
}

.close-case-modal {
  height: 125px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  position: relative;
  background-color: lightgrey;

  .modal-text {
    display: flex;
    font-size: 14px;
    line-height: 17px;
  }

  .modal-options {
    display: flex;
    justify-content: center;

    & > * {
      margin-right: 5px;
    }

    button.modal-btn {
      background-color: #3c8dbc;
      border-color: #367fa9;
      border-radius: 3px;
      color: white;
      margin-top: 5px;
      margin-bottom: 5%;
      font-weight: bold;
      font-size: 10px;
      height: 30px;
    }
  }
}

button[id^='severity'] {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  box-shadow: 5px 10px;
  font-size: 8px;
}

button[id^='tlp'] {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  box-shadow: 5px 10px;
  font-size: 8px;
}

button[id^='observable-tlp'] {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  box-shadow: 5px 10px;
  font-size: 8px;
}

button[id^='pap'] {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  box-shadow: 5px 10px;
  font-size: 8px;
}

th,
td {
  padding: 15px;
}

.alert {
  margin-bottom: 0;
}

.alert-information {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgreen;
  border-color: green;
}

.alert-danger {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightcoral;
  border-color: red;
}

.level-select input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

textarea{
  padding: 3px;
}

.modal-title{
  margin: 0px 0px 10px 0px;
  text-align: left;
}

.level-select label {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  font-size: 10px;
  padding: 3%;
  text-align: center;
  cursor: pointer;
  &:hover{
    background-color: darken(#d2d6de, 20%);
  }
}

.level-select input[class='white']:checked + label {
  background-color: #5bc0de;
  &:hover{
    background-color: darken(#5bc0de, 20%);
  }
}

.level-select input[class='green']:checked + label {
  background-color: #5cb85c;
  &:hover{
    background-color: darken(#5cb85c, 20%);
  }
}

.level-select input[class='amber']:checked + label {
  background-color: #f0ad4e;
  &:hover{
    background-color: darken(#f0ad4e, 20%);
  }
}

.level-select input[class='red']:checked + label {
  background-color: #d9534f;
  &:hover{
    background-color: darken(#d9534f, 20%);
  }
}

.p-description {
  overflow-y: auto;
  max-height: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  word-break: break-word;
}
