pre {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  padding: 5px;
  margin-top: 5px;
}

input {
  width: 100%;
}

.scrollable-block {
  overflow-y: auto;
  max-height: 300px;
  width: 100%;
  border: 1px solid;
  margin-top: 2%;
  &.padded {
    padding: 5px;
  }
}

.email-container {
  margin-top: 5px;
}

.pulse-tag {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px;
  display: inline-block;
  padding-bottom: 3px;
}

.create-case-btn {
  background-color: #3c8dbc;
  border-color: #367fa9;
  border-radius: 3px;
  color: white;
  margin-top: 5px;
  font-weight: bold;
  font-size: 10px;
  height: 30px;
}

.create-case-btn button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

.case-description {
  width: 100%;
  border: 1px solid #dedede;
}

.title {
  width: 80%;
  border: 1px solid #dedede;
}

.create-case-footnote {
  margin-top: 5px;
  margin-bottom: 0;
}

.case-creation-form {
  margin-top: 10px;
}

.case-container {
  margin-top: 5%;

  .case-options {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;

    & .edit-case-btn {
      background-color: #3c8dbc;
      border-color: #367fa9;
      border-radius: 3px;
      margin-top: 5px;
      color: white;
      font-weight: bold;
      font-size: 10px;
      height: 30px;
    }
  }
}

.edit-modal {
  position: absolute;
  height: 280px;
  width: 95%;
  z-index: 9999;
  bottom: 16px;
  right: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 2rem;
  border-radius: 6px;
  margin-right: 3%;
  margin-left: 3%;
  border: 1px solid white;

  & .edit-container {
    flex-direction: row;
    padding: 4px;
    justify-content: space-between;
    margin-top: 13px;
    height: 100%;

    // .modal-text {
    //   display: flex;
    //   width: 170px;
    //   font-size: 14px;
    //   font-weight: 500px;
    //   line-height: 17px;
    // }

    .p-title {
      margin-bottom: 15px;
      margin-top: 1px;
    }

    .edit-case-description {
      margin-bottom: 3px;
    }

    .edit-modal-options {
      display: flex;
      margin-top: 3%;
      justify-content: space-between;
      & > * {
        margin-right: 5px;
      }
      button {
        background-color: #3c8dbc;
        border-color: #367fa9;
        border-radius: 3px;
        color: white;
        margin-top: 5px;
        font-weight: bold;
        font-size: 10px;
        height: 30px;
      }
    }
  }
}

.add-observable-btn {
  background-color: #3c8dbc;
  border-color: #367fa9;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  height: 30px;
}

.add-observable-btn button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 10px;
  height: 30px;
}

.add-observable-modal {
  position: absolute;
  height: 100%;
  width: 97%;
  z-index: 9999;
  bottom: 16px;
  right: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 2rem;
  border-radius: 6px;
  margin-right: 3%;
  margin-left: 3%;
  border: 1px solid white;

  & .add-observable-container {
    flex-direction: row;
    padding: 4px;
    justify-content: space-between;
    margin-top: 13px;
    height: 100%;

    .modal-text {
      display: flex;
      width: 170px;
      font-size: 14px;
      font-weight: 500px;
      line-height: 17px;
    }

    .observable-title {
      width: 100%;
    }
    .observable-case-description {
      margin-top: 3%;
      width: 100%;
    }

    .observable-modal-options {
      display: flex;
      margin-top: 6%;
      justify-content: space-between;
      & > * {
        margin-right: 5px;
      }
      button.add-observable-btn {
        background-color: #3c8dbc;
        border-color: #367fa9;
        border-radius: 3px;
        color: white;
        margin-top: 5px;
        font-weight: bold;
        font-size: 10px;
        height: 30px;
      }
    }
  }
}

button[id^='severity'] {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  box-shadow: 5px 10px;
  font-size: 8px;
}

button[id^='tlp'] {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  box-shadow: 5px 10px;
  font-size: 8px;
}

button[id^='observable-tlp'] {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  box-shadow: 5px 10px;
  font-size: 8px;
}

button[id^='pap'] {
  margin: 1px;
  color: white;
  border-radius: 3px;
  background-color: #d2d6de;
  box-shadow: 5px 10px;
  font-size: 8px;
}

th,
td {
  padding: 15px;
}

.alert {
  margin-bottom: 0;
}

.alert-information {
  margin-top: 10px;
  margin-bottom: 10px;
}

.highlight {
  position: absolute;
  z-index: 9999;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: lightgreen;
  border: green;
  color: grey;
  text-align: center;
  animation: highlight 0.5s 1;
  -webkit-animation: highlight 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 1s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

@keyframes highlight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes highlight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

label {
  font-weight: bold;
}
